<div class="container">
    <div class="row ">
        <div class="col-lg-6 offset-lg-3 mt-5">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title text-primary text-start mb-5">{{titulo}}</h5>
                    <form [formGroup]="administrarCarreraForm" (ngSubmit)="ingresarCarrera()">   
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="carrera" class="form-control" id="floatingInput" placeholder="Nombre carrera">
                        <label for="floatingInput">Nombre Carrera</label>
                      </div>
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="nomenclatura" class="form-control" id="floatingInput" placeholder="Nomenclatura">
                        <label for="floatingInput">Nomenclatura Carrera</label>
                      </div>
                     
                      <button type="button" routerLink="/mantenedor-carrera" class="btn btn-success btn-lg float-start" >Volver <i class="fa-solid fa-left-long"></i> </button>
                      <button type="submit" class="btn btn-primary btn-lg float-end" >{{accion}} <i class="fa-solid fa-floppy-disk"></i> </button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>