<div class="row mt-2">
    <div class="card col-lg-6 offset-3">
        
        <div class="card-body">
            
            <button class="btn btn-primary float-end" routerLink="/administrar-carrera">Crear Carrera</button>
            <h4 class="card-title col-6 offset-4 mb-5 text-primary"><strong>Filtros de Búsqueda Carrera</strong>
               
            </h4>
            <form class="col-lg-8 offset-2" [formGroup]="queryForm" (ngSubmit)="buscar()">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Alcance de Nombre Carrera</label>
                    <input formControlName="nombre" type="text" class="form-control form-control-sm" id="nombre" placeholder="">
                  </div>
                <div class="mb-3">
                    <label for="nomenclatura" class="form-label">Alcance de Nomenclatura Carrera</label>
                    <input formControlName="nomenclatura" type="text" class="form-control form-control-sm" id="nomenclatura" placeholder="">
                  </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-md  col-lg-5"><strong>Filtrar <i class="fa-solid fa-magnifying-glass"></i></strong></button>
                </div>

            </form>
        </div>
    </div>
    <div class="col-lg-8 offset-2 mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-primary"><strong>Resultados</strong></h5>
                <table *ngIf="listCarrera.length>0" class="table table-success table-striped">
                    <thead>
                        <tr>
                          <th class="col-1" scope="col">#</th>
                          <th class="col-6" scope="col">Carrera</th>
                          <th scope="col">Nomenclatura</th>
                          <th class="col-2 text-center" scope="col" >Acciones</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let carrera of listCarrera; let i=index">
                          <th >{{i+1}}</th>
                          <td>{{carrera.nombre}}</td>
                          <td>{{carrera.nomenclatura}}</td>
                          <td class="text-center"> 
                                <button [routerLink]="['/editar-carrera',carrera._id]" type="button" class="btn btn-sm btn-primary m-1"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button (click)="eliminarCarrera(carrera._id)" type="button" class="btn btn-sm btn-danger m-1"><i class="fa-solid fa-trash"></i></button>
                               
                          </td>
                         
                        </tr>
                       
                      </tbody>
                  </table>
                  <h5 class="text-align-center" *ngIf="listCarrera.length==0">Sin Resultados.</h5>
                  <nav *ngIf="false" aria-label="Page navigation example">
                    <ul class="pagination  justify-content-center">
                      <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                    </ul>
                  </nav>

            </div>
        </div>
    </div>
</div>