    <div class="row mt-2">
        <div class="card col-lg-6 offset-3">
            
            <div class="card-body">
                <button *ngIf="Editable==true" class="btn btn-primary float-end" routerLink="/administrar-alumno">Crear Alumno</button>
                <h4 class="card-title text-center text-primary"><strong>Filtros de Búsqueda Alumno</strong></h4>
                <form class="col-lg-8 offset-2" [formGroup]="queryForm" (ngSubmit)="buscar()">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombres</label>
                        <input formControlName="nombre" type="text" class="form-control form-control-sm" id="nombre" placeholder="">
                      </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Primer Apellido</label>
                        <input formControlName="primer_apellido" type="text" class="form-control form-control-sm" id="nombre" placeholder="">
                      </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Segundo Apellido</label>
                        <input formControlName="segundo_apellido" type="text" class="form-control form-control-sm" id="nombre" placeholder="">
                      </div>
                    <div class="mb-3">
                      <label for="carrera">Carrera</label>
                      <select formControlName="carrera" class="form-select" aria-label="Default select example">
                        <option selected>Todas</option>
                        <option *ngFor="let carrera of listCarrera"  value="{{carrera.nombre}}">{{carrera.nombre}}</option>
                        
                      </select>  
                      
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-md  col-lg-5"><strong>Filtrar <i class="fa-solid fa-magnifying-glass"></i></strong></button>
                      </div>

                </form>
            </div>
        </div>
        <div class="col-lg-8 offset-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary"><strong>Resultados</strong></h5>
                    <table *ngIf="listAlumno.length>0"  class="table table-success table-striped">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Primer Apellido</th>
                              <th scope="col">Segundo Apellido</th>
                              <th scope="col">Carrera</th>
                              <th scope="col">Sexo</th>
                              <th class="text-center" *ngIf="Editable===true" scope="col">Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let alumno of listAlumno;let i=index">
                              <td>{{i+1}}</td>
                              <td>{{alumno.nombre}}</td>
                              <td>{{alumno.primer_apellido}}</td>
                              <td>{{alumno.segundo_apellido}}</td>
                              <td>{{alumno.carrera}}</td>
                              <td>{{alumno.sexo}}</td>
                              <td *ngIf="Editable===true" class="text-center"> 
                                <button type="button" [routerLink]="['/editar-alumno',alumno._id]" class="btn btn-sm btn-primary m-1"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button type="button" (click)="eliminarAlumno(alumno._id)" class="btn btn-sm btn-danger m-1"><i class="fa-solid fa-trash"></i></button>
                               
                                </td>
                            </tr>
                           
                          </tbody>
                      </table>
                      <h5 class="text-align-center" *ngIf="listAlumno.length==0">Sin Resultados.</h5>
                      <nav *ngIf="false" aria-label="Page navigation example">
                        <ul class="pagination  justify-content-center">
                          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                      </nav>

                </div>
            </div>
        </div>
    </div>