    <div class="row mt-2">
        <div class="card col-lg-6 offset-3">
            
            <div class="card-body">
                <button *ngIf="Editable==true" class="btn btn-primary float-end" routerLink="/administrar-alumno">Crear Alumno</button>
                <h4 class="card-title text-center text-primary"><strong>Filtros de Búsqueda Alumno</strong></h4>
                <form class="col-lg-8 offset-2">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombres</label>
                        <input type="email" class="form-control form-control-sm" id="nombre" placeholder="">
                      </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Apellidos</label>
                        <input type="email" class="form-control form-control-sm" id="nombre" placeholder="">
                      </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Carrera</label>
                        <input type="email" class="form-control form-control-sm" id="nombre" placeholder="">
                      </div>
                      <div class="text-center">
                        <button class="btn btn-primary btn-md  col-lg-5"><strong>Filtrar <i class="fa-solid fa-magnifying-glass"></i></strong></button>
                      </div>

                </form>
            </div>
        </div>
        <div class="col-lg-8 offset-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary"><strong>Resultados</strong></h5>
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Apellido Paterno</th>
                              <th scope="col">Apellido Materno</th>
                              <th scope="col">Carrera</th>
                              <th scope="col">Sexo</th>
                              <th class="text-center" *ngIf="Editable===true" scope="col">Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th >1</th>
                              <td>pablo</td>
                              <td>Velasquez</td>
                              <td>Gonzalez</td>
                              <td>Ing Civil en Informática</td>
                              <td>Masculino</td>
                              <td *ngIf="Editable===true" class="text-center"> 
                                <button type="button" class="btn btn-sm btn-primary m-1"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button type="button" class="btn btn-sm btn-danger m-1"><i class="fa-solid fa-trash"></i></button>
                               
                                </td>
                            </tr>
                           
                          </tbody>
                      </table>
                      <nav aria-label="Page navigation example">
                        <ul class="pagination  justify-content-center">
                          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                      </nav>

                </div>
            </div>
        </div>
    </div>